# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# O DATABASE_URL deve apontar para a porta de Pooling (geralmente a 6543)
DATABASE_URL=

# O DIRECT_URL é usado pelo Drizzle/Prisma para rodar as migrations diretamente no banco (porta 5432)
DIRECT_URL=

# Credenciais do Google Cloud
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=